.mainHead {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.signup-form {
  justify-items: center;
  padding: 20px;
  width: 100%;
}

.input-class {
  padding: 10px;
  display: flex;
  width: 500px;
  height: 30px;

  border: 1.6px solid black;
  border-bottom: 3px solid black !important;
  border-radius: 5px;
}
.username {
  margin-top: 3px;
  margin-bottom: 30px;
}

.email {
  margin-top: 3px;
  margin-bottom: 30px;
}
#email::placeholder {
  color: black;
}
.phone {
  margin-bottom: 30px;
  margin-top: 3px;
}
.phone input {
  width: 400px;
  height: 30px;

  border: 1.6px solid black;
  border-bottom: 3px solid black !important;
  border-radius: 5px;
  padding: 10px;
}
.verify-btn {
  background-color: rgb(74, 61, 229);
  color: white;
  padding: 18px 30px 18px 35px;
  border-bottom: 2px solid black !important;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.personal-id {
  margin-bottom: 30px;
  margin-top: 3px;
}

.radio {
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 3px;
  display: flex;
  width: 100%;
  max-width: 500px;
}

.radio-icon {
  height: 30px;
  width: 30px;
}

.label {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.write-something {
  margin-bottom: 30px;
  margin-top: 3px;
}
.select-option {
  margin-top: 3px;
  margin-bottom: 40px;
}

.select-option select {
  display: flex;
  width: 530px;
  height: 50px;

  border: 1.6px solid black;
  border-bottom: 3px solid black !important;
  border-radius: 5px;
  padding: 10px;
}

.signUp-btn button {
  background-color: rgb(74, 61, 229);
  color: white;
  width: 530px;
  height: 50px;
  border-bottom: 2px solid black !important;
  border: none;
  margin-bottom: 30px;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(42, 42, 42);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(74, 61, 229);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media screen and (max-width: 480px) {
  .signup-form {
    justify-items: center;
  }
  .input-class {
    width: 250px;
    height: 30px;
  }
  .phone input {
    width: 60%;
    height: 30px;
  }
  .select-option select {
    width: 100%;
    height: 50px;
  }
  .signUp-btn button {
    width: 100%;
    max-width: 290px;
  }
  .verify-btn {
    padding: 18px 20px 18px 20px;
  }

  .signUp-btn {
    width: 100%;
    max-width: 290px;
  }
  .radio {
    width: 100%;
    max-width: 280px;
  }
}
